<a href="https://colab.research.google.com/github/Boonyaratt/Second-Hand-Price-Prediction-CNN/blob/main/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Second-Hand-Price-Prediction-CNN

##Get file from source [here!](https://zenodo.org/records/8386668)

this file download on runtime, you must run the block below to get the dataset, Which from now took about 40++ mins!

In [ ]:
!wget https://zenodo.org/records/8386668/files/circular_fashion_v1.tar.gz?download=1

--2025-08-05 02:45:14--  https://zenodo.org/records/8386668/files/circular_fashion_v1.tar.gz?download=1
Resolving zenodo.org (zenodo.org)... 188.185.43.25, 188.185.45.92, 188.185.48.194, ...
Connecting to zenodo.org (zenodo.org)|188.185.43.25|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2268791213 (2.1G) [application/octet-stream]
Saving to: ‘circular_fashion_v1.tar.gz?download=1’

on_v1.tar.gz?downlo   0%[                    ]   3.71M   486KB/s    eta 77m 7s ^C

In [ ]:
import os
# Rename to remove '?download=1.1'
os.rename('/content/circular_fashion_v1.tar.gz?download=1', '/content/circular_fashion_v1.tar.gz')

!tar -xvzf /content/circular_fashion_v1.tar.gz -C /content/

sep2022/2022-09-21/front_2022_09_21_10_54_07.jpg
sep2022/2022-09-15/labels_2022_09_15_09_04_22.json
feb2023/2023-02-02/brand_2023_02_02_10_33_59.jpg
sep2022/2022-09-14/front_2022_09_14_11_36_07.jpg
sep2022/2022-09-22/front_2022_09_22_05_39_22.jpg
oct2022/2022-10-20/labels_2022_10_20_07_43_55.json
jan2023/2023-01-31/front_2023_01_31_11_04_58.jpg
oct2022/2022-10-11/labels_2022_10_11_12_25_47.json
sep2022/2022-09-29/labels_2022_09_29_07_19_28.json
feb2023/2023-02-06/brand_2023_02_06_08_53_41.jpg
oct2022/2022-10-25/front_2022_10_25_08_06_25.jpg
sep2022/2022-09-22/front_2022_09_22_06_14_05.jpg
nov2022/2022-11-07/front_2022_11_07_10_30_03.jpg
oct2022/2022-10-31/back_2022_10_31_08_05_18.jpg
oct2022/2022-10-06/brand_2022_10_06_09_51_48.jpg
oct2022/2022-10-10/back_2022_10_10_08_23_48.jpg
sep2022/2022-09-27/back_2022_09_27_12_01_09.jpg
jan2023/2023-01-26/brand_2023_01_26_12_41_55.jpg

gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now

### Dir Command

In [ ]:
!ls /content/

circular_fashion_v1.tar.gz  feb2023  LICENSE  oct2022	 sample_data
dec2022			    jan2023  nov2022  README.md  sep2022

In [ ]:
!ls /content/oct2022/

2022-10-03  2022-10-11	2022-10-17  2022-10-21	2022-10-27
2022-10-05  2022-10-12	2022-10-18  2022-10-24	2022-10-28
2022-10-06  2022-10-13	2022-10-19  2022-10-25	2022-10-31
2022-10-10  2022-10-14	2022-10-20  2022-10-26

In [ ]:
!ls /content/dec2022/2022-12-01

back_2022_12_01_09_56_35.jpg   front_2022_12_01_10_15_13.jpg
back_2022_12_01_09_56_38.jpg   front_2022_12_01_10_19_35.jpg
back_2022_12_01_10_01_59.jpg   front_2022_12_01_12_49_46.jpg
back_2022_12_01_10_04_50.jpg   front_2022_12_01_12_52_40.jpg
back_2022_12_01_10_07_56.jpg   front_2022_12_01_12_54_58.jpg
back_2022_12_01_10_10_58.jpg   front_2022_12_01_12_57_20.jpg
back_2022_12_01_10_15_13.jpg   front_2022_12_01_13_01_33.jpg
back_2022_12_01_10_19_35.jpg   front_2022_12_01_13_04_18.jpg
back_2022_12_01_12_49_46.jpg   front_2022_12_01_13_07_23.jpg
back_2022_12_01_12_52_40.jpg   front_2022_12_01_13_09_52.jpg
back_2022_12_01_12_54_58.jpg   front_2022_12_01_13_11_53.jpg
back_2022_12_01_12_57_20.jpg   front_2022_12_01_13_13_28.jpg
back_2022_12_01_13_01_33.jpg   front_2022_12_01_13_16_21.jpg
back_2022_12_01_13_04_18.jpg   front_2022_12_01_13_18_24.jpg
back_2022_12_01_13_07_23.jpg   front_2022_12_01_13_20_26.jpg
back_2022_12_01_13_09_52.jpg   front_2022_12_01_13_25_14.jpg
back_2022_12_01_13_11_53.jpg   front_2022_12_01_13_28_10.jpg
back_2022_12_01_13_13_28.jpg   front_2022_12_01_13_30_10.jpg
back_2022_12_01_13_16_21.jpg   front_2022_12_01_13_34_22.jpg
back_2022_12_01_13_18_24.jpg   front_2022_12_01_13_44_48.jpg
back_2022_12_01_13_20_26.jpg   front_2022_12_01_13_48_18.jpg
back_2022_12_01_13_25_14.jpg   front_2022_12_01_13_51_18.jpg
back_2022_12_01_13_28_10.jpg   front_2022_12_01_13_54_08.jpg
back_2022_12_01_13_30_10.jpg   front_2022_12_01_13_56_36.jpg
back_2022_12_01_13_34_22.jpg   front_2022_12_01_13_57_59.jpg
back_2022_12_01_13_44_48.jpg   front_2022_12_01_14_00_15.jpg
back_2022_12_01_13_48_18.jpg   front_2022_12_01_14_02_07.jpg
back_2022_12_01_13_51_18.jpg   front_2022_12_01_14_04_20.jpg
back_2022_12_01_13_54_08.jpg   front_2022_12_01_14_06_34.jpg
back_2022_12_01_13_56_36.jpg   front_2022_12_01_14_09_23.jpg
back_2022_12_01_13_57_59.jpg   front_2022_12_01_14_12_32.jpg
back_2022_12_01_14_00_15.jpg   front_2022_12_01_14_14_44.jpg
back_2022_12_01_14_02_07.jpg   front_2022_12_01_14_17_17.jpg
back_2022_12_01_14_04_20.jpg   front_2022_12_01_14_19_56.jpg
back_2022_12_01_14_06_34.jpg   labels_2022_12_01_09_56_35.json
back_2022_12_01_14_09_23.jpg   labels_2022_12_01_09_56_38.json
back_2022_12_01_14_12_32.jpg   labels_2022_12_01_10_01_59.json
back_2022_12_01_14_14_44.jpg   labels_2022_12_01_10_04_50.json
back_2022_12_01_14_17_17.jpg   labels_2022_12_01_10_07_56.json
back_2022_12_01_14_19_56.jpg   labels_2022_12_01_10_10_58.json
brand_2022_12_01_09_56_35.jpg  labels_2022_12_01_10_15_13.json
brand_2022_12_01_09_56_38.jpg  labels_2022_12_01_10_19_35.json
brand_2022_12_01_10_01_59.jpg  labels_2022_12_01_12_49_46.json
brand_2022_12_01_10_04_50.jpg  labels_2022_12_01_12_52_40.json
brand_2022_12_01_10_07_56.jpg  labels_2022_12_01_12_54_58.json
brand_2022_12_01_10_10_58.jpg  labels_2022_12_01_12_57_20.json
brand_2022_12_01_12_49_46.jpg  labels_2022_12_01_13_01_33.json
brand_2022_12_01_12_52_40.jpg  labels_2022_12_01_13_04_18.json
brand_2022_12_01_12_54_58.jpg  labels_2022_12_01_13_07_23.json
brand_2022_12_01_12_57_20.jpg  labels_2022_12_01_13_09_52.json
brand_2022_12_01_13_01_33.jpg  labels_2022_12_01_13_11_53.json
brand_2022_12_01_13_04_18.jpg  labels_2022_12_01_13_13_28.json
brand_2022_12_01_13_07_23.jpg  labels_2022_12_01_13_16_21.json
brand_2022_12_01_13_11_53.jpg  labels_2022_12_01_13_18_24.json
brand_2022_12_01_13_13_28.jpg  labels_2022_12_01_13_20_26.json
brand_2022_12_01_13_16_21.jpg  labels_2022_12_01_13_25_14.json
brand_2022_12_01_13_25_14.jpg  labels_2022_12_01_13_28_10.json
brand_2022_12_01_13_44_48.jpg  labels_2022_12_01_13_30_10.json
brand_2022_12_01_13_48_18.jpg  labels_2022_12_01_13_34_22.json
brand_2022_12_01_13_54_08.jpg  labels_2022_12_01_13_44_48.json
brand_2022_12_01_13_56_36.jpg  labels_2022_12_01_13_48_18.json
brand_2022_12_01_13_57_59.jpg  labels_2022_12_01_13_51_18.json
brand_2022_12_01_14_00_15.jpg  labels_2022_12_01_13_54_08.json
brand_2022_12_01_14_02_07.jpg  labels_2022_12_01_13_56_36.json
brand_2022_12_01_14_06_34.jpg  labels_2022_12_01_13_57_59.json
brand_2022_12_01_14_09_23.jpg  labels_2022_12_01_14_00_15.json
brand_2022_12_01_14_12_32.jpg  labels_2022_12_01_14_02_07.json
brand_2022_12_01_14_14_44.jpg  labels_2022_12_01_14_04_20.json
front_2022_12_01_09_56_35.jpg  labels_2022_12_01_14_06_34.json
front_2022_12_01_09_56_38.jpg  labels_2022_12_01_14_09_23.json
front_2022_12_01_10_01_59.jpg  labels_2022_12_01_14_12_32.json
front_2022_12_01_10_04_50.jpg  labels_2022_12_01_14_14_44.json
front_2022_12_01_10_07_56.jpg  labels_2022_12_01_14_17_17.json
front_2022_12_01_10_10_58.jpg  labels_2022_12_01_14_19_56.json

#Create Dataset

Make function to combine image and labeling data from dir

In [ ]:
import os
import json
import pandas as pd

import os
import json
import pandas as pd

def build_dataset_from_month(month_dir):
    all_data = []

    for day in os.listdir(month_dir):
        day_path = os.path.join(month_dir, day)
        if not os.path.isdir(day_path):
            continue

        for filename in os.listdir(day_path):
            if filename.startswith("labels_") and filename.endswith(".json"):
                label_path = os.path.join(day_path, filename)

                try:
                    with open(label_path, 'r') as f:
                        label_data = json.load(f)
                except json.JSONDecodeError as e:
                    print(f"[ERROR] Failed to parse JSON in: {label_path}")
                    print(f"        Error: {e}")
                    continue
                except Exception as e:
                    print(f"[ERROR] Other error in: {label_path}")
                    print(f"        Error: {e}")
                    continue

                timestamp = filename.replace("labels_", "").replace(".json", "")

                front_img = os.path.join(day_path, f"front_{timestamp}.jpg")
                back_img = os.path.join(day_path, f"back_{timestamp}.jpg")
                brand_img = os.path.join(day_path, f"brand_{timestamp}.jpg")
                brand_img = brand_img if os.path.exists(brand_img) else None

                label_data['front_img'] = front_img
                label_data['back_img'] = back_img
                label_data['brand_img'] = brand_img
                label_data['timestamp'] = timestamp
                label_data['day'] = day

                all_data.append(label_data)

    return pd.DataFrame(all_data)

##remove error file

In [ ]:
!cat /content/oct2022/2022-10-17/labels_2022_10_17_07_40_32.json

cat: /content/oct2022/2022-10-17/labels_2022_10_17_07_40_32.json: No such file or directory

In [ ]:
os.remove("/content/oct2022/2022-10-17/labels_2022_10_17_07_40_32.json")
os.remove("/content/oct2022/2022-10-17/back_2022_10_17_07_40_32.png")
os.remove("/content/oct2022/2022-10-17/front_2022_10_17_07_40_32.png")
os.remove("/content/oct2022/2022-10-17/brand_2022_10_17_07_40_32.png")

FileNotFoundError: [Errno 2] No such file or directory: '/content/oct2022/2022-10-17/labels_2022_10_17_07_40_32.json'

## Create Dataframe

In [120]:
df_dec2022 = build_dataset_from_month('/content/dec2022')
df_feb2023 = build_dataset_from_month('/content/feb2023')
df_jan2023 = build_dataset_from_month('/content/jan2023')
df_nov2022 = build_dataset_from_month('/content/nov2022')
df_oct2022 = build_dataset_from_month('/content/oct2022')

df = pd.concat([df_dec2022, df_feb2023, df_jan2023, df_nov2022,df_oct2022])

##Data Explore

#### General info

In [ ]:
df.tail()

In [ ]:
df['annotator']

In [ ]:
df.info()

In [ ]:
df.describe()

###Display Some Cloths Image

In [ ]:
import matplotlib.pyplot as plt
from PIL import Image
import os
import json

def display_sample(row):
    fig, axs = plt.subplots(1, 3, figsize=(12, 4))

    for i, img_type in enumerate(['front_img', 'back_img', 'brand_img']):
        img_path = row[img_type]
        if img_path and os.path.exists(img_path):
            img = Image.open(img_path)
            axs[i].imshow(img)
            axs[i].set_title(img_type)
            axs[i].axis('off')
        else:
            axs[i].set_title(f"{img_type}\nNot Found")
            axs[i].axis('off')

    plt.suptitle(f"Date: {row['day']} | Timestamp: {row['timestamp']}")
    plt.show()

    print("Category:")
    print(json.dumps(row['category'], indent=2))
    print("Type:")
    print(json.dumps(row['type'], indent=2))
    print("size:")
    print(json.dumps(row['size'], indent=2))
    print("Colors:")
    print(json.dumps(row['colors'], indent=2))
    print("price:")
    print(json.dumps(row['price'], indent=2))

In [ ]:
for i in range(3):
  display_sample(df.iloc[i])

###Data value explore

In [ ]:
df.isna().sum()

brand           0
brandtext    1171
category        0
type            0
size            0
colors          0
season          0
pilling         0
condition       0
price           0
annotator       0
cut             0
pattern         0
trend           0
smell        1171
stains          0
holes        1171
damage          0
material        0
comment         0
usage           0
front_img       0
back_img        0
brand_img     358
timestamp       0
day             0
weight        741
dtype: int64

In [104]:
df = df.drop(['smell','weight','comment','annotator'], axis=1)

In [ ]:
def display_unique_values(df, columns=None):
    if columns is None:
        columns = df.columns
    for col in columns:
        unique_vals = df[col].unique()
        print(f"Column: {col}")
        print(f"Unique values ({len(unique_vals)}): {unique_vals}\n")

df['trend'] = df['trend'].replace({'No trend': 'None'})

display_unique_values(df, ['category', 'type','size','season','trend','brand'])

Column: category
Unique values (4): ['Ladies' 'Men' 'Children' 'Unisex']

Column: type
Unique values (32): ['Blouse' 'Dress' 'Cardigan' 'Sweater' 'Top' 'Shirt' 'Tights' 'T-shirt'
 'Skirt' 'Trousers' 'Blazer' 'Jeans' 'Vest' 'Jacket' 'Training top'
 'Shorts' 'Hoodie' 'Tank top ' 'Winter jacket' 'Rain jacket'
 'Winter trousers' 'Pajamas' 'Night gown' 'Rain trousers' 'Tunic'
 'Outerwear' 'sweater' 'Denim jacket' 'Robe' 'Tank top' 'Jacker'
 'Nightgown']

Column: size
Unique values (39): ['M ' 'XL' '40' '42' '46' 'L' '38' '50' '44' 'S ' 'None' '158' '122' '52'
 'XXL' '134' '48' 'onesize' '164' '34' '36' '140' '98' '104' '146' '110'
 '128' '56' '62' 'XS' '116' '92' '74' 'XXXL' '86' '80' 'M' 'S' 'Onesize']

Column: season
Unique values (6): ['All' 'Winter' 'Spring' 'Summer' 'Autumn' 'None']

Column: trend
Unique values (6): ['None' 'Sports' '90s' 'Denim' 'Leather' '80s']

Column: brand
Unique values (168): ['Not in the list' 'Masai' '365' 'Batistini (Dressman)' 'Flash'
 'Cappuchini' 'Isolde' 'H&M' 'Mywear (Ica)' 'Shirt Factory' 'Craft'
 'Esprit' 'Cross Sportwear' 'Bikbok' 'Soul River' 'Junkyard' 'Kappahl'
 'Polarn Och Pyret' 'Deval' 'Diesel' 'Lindex' 'Nike'
 'Edc (Esprit De Corps)' "Levi'S" 'Bershka (Zara)'
 'Hamton Republic (Kappahl)' 'Soc (Stadium)' 'Gina Tricot' 'Indiska'
 'Etirel' 'Park Lane' 'Only' 'Everest' 'Rappson   (Gubb)' 'Cue'
 'Logg (H&M)' 'These Glory Days' 'Odd Molly' 'Newbie (Kappahl)' 'Adidas'
 'Carl William' 'Free Quent' 'Puma' 'Cellbes' 'Soya/Soyaconcept'
 'Melly Moda' 'Ralph Lauren' 'Gant' 'Jack And Jones' 'Nudie Jeans'
 'Maison Scotch' 'Zara' 'Lager 157' 'New Look' 'Alice Bizous (Joy)'
 'Dorothy Perkins' 'Stockhlm' 'Gudrun Sjödén' 'Missing'
 'Fbsisters (New Yorker)' 'Cream' 'Pull And Bear' 'Ellos' 'Filippa K'
 'Swedemount' 'Prêt' 'Oscar Of Sweden' 'Inwear' 'Cos' 'Me & I' 'Stormberg'
 'Helly Hansen' 'Amisu (New Yorker)' 'Na-Kd' 'Kari Traa' 'Second Female'
 'Monki' 'Dressman' 'Tretorn' 'Fix (Lindex)' 'Twist & Tango' 'Samsö'
 'Newbody' 'Hummel' 'Pure Instinct' 'Esmara (Lidl)' 'Tutti Frutti'
 'Melka (Gammalt Svenskt)?' 'Name It' 'Cubus' 'Not Applicable ' 'Desigual'
 'Soya/SoyaConcept' 'Vero moda' 'Vila' 'Holly and Whyte (Lindex)'
 'Edc (esprit de corps)' 'NA-KD ' 'LOGG (H&M)' 'Free quent' 'Dobber'
 'Asos' 'Lee' 'Part Two' 'Miss Milla' 'Carin Wester' 'KappAhl' 'MANGO '
 'Micha ' 'River Island ' 'Amisu (New yorker)' 'Jean paul gaultier'
 'XLNT (Kappahl)' 'Stenströms (skjorta)' 'Massimo dutti' 'Tutti frutti '
 'East West' 'Pieces' 'On the Peak' 'Jackpot' 'Soaked in Luxury'
 "Marc'O Polo" 'Weekday' 'Moschino ' 'StyleIn ' 'Mexx ' 'Object'
 'Hollister (Abercomb & Fitch)' 'Fransa' 'New look ' 'Juicy Couture'
 'Bondelid ' 'FBSisters (New yorker)' 'Forever 21' 'Marimekko ' 'MONKI '
 'Pull and bear' 'STOCKHLM ' 'Park lane' 'Miss Milla ' 'GANT' 'Bikbok '
 'COS' 'Bershka (ZARA)' 'Havana' 'Dagmar ' 'Kriss' 'Tiger of Sweden'
 'Masai ' 'MyWear (ICA) ' 'Gap' 'Saint tropez' 'FRK' 'Oui ' 'CRAFT'
 'Rosebud' 'Gerry Weber' 'J.Lindeberg' 'McKinley (Intersport) '
 'SOC (Stadium)' 'Shirt factory' 'Hunkydory' 'Soulmate' 'Not applicable'
 'Hillevi' 'Skill' 'Almia' 'Peak Performance ']

#### Cleaning df['brand']

In [121]:
# 1. Clean brand names
def clean_brand_name(brand):
    if pd.isna(brand):
        return 'Unknown'
    brand = brand.strip()
    # แปลงตัวอักษรเป็นรูปแบบมาตรฐาน (lowercase + title case)
    brand_lower = brand.lower()

    # Mapping ชื่อแบรนด์ที่เขียนต่างกันให้อยู่ในชื่อเดียวกัน (ตัวอย่าง)
    brand_corrections = {
        'bershka (zara)': 'Zara',
        'bershka (zara)': 'Zara',
        'pull and bear': 'Zara',
        'pull and bear': 'Zara',
        'massimo dutti': 'Zara',
        'logg (h&m)': 'H&M',
        'weekday': 'H&M',
        'monki': 'H&M',
        'cos': 'H&M',
        'cos': 'H&M',
        'hamton republic (kappahl)': 'Kappahl',
        'newbie (kappahl)': 'Kappahl',
        'xlnt (kappahl)': 'Kappahl',
        'fix (lindex)': 'Lindex',
        'holly and whyte (lindex)': 'Lindex',
        'edc (esprit de corps)': 'Esprit',
        'fbsisters (new yorker)': 'New Yorker',
        'amisu (new yorker)': 'New Yorker',
        'mywear (ica)': 'MyWear',
        'mywear (ica)': 'MyWear',
        'soya/soyaconcept': 'Soya/Soyaconcept',
        'na-kd': 'Na-Kd',
        'na-kd ': 'Na-Kd',
        'new look': 'New Look',
        'new look ': 'New Look',
        'monki ': 'Monki',
        'stokhlm': 'Stockhlm',
        'stockhlm ': 'Stockhlm',
        'stkohlm': 'Stockhlm',
        'soc (stadium)': 'Soc (Stadium)',
        'soc (stadium)': 'Soc (Stadium)',
        'shirt factory': 'Shirt Factory',
        'shirt factory': 'Shirt Factory',
        'mango ': 'Mango',
        'micha ': 'Micha',
        'hollister (abercrombie & fitch)': 'Hollister (Abercomb & Fitch)',
        'frk': 'Frk',
        'craff': 'Craft',
        'free quent': 'Free Quent',
        # เพิ่มเติมตามที่เจอ
    }

    if brand_lower in brand_corrections:
        return brand_corrections[brand_lower]
    else:
        # คืนชื่อแบรนด์แบบ title case (เช่น "Nike", "Adidas")
        return brand.title()

# 2. Clean ทุกแถวก่อน map กลุ่ม
df['brand_clean'] = df['brand'].apply(clean_brand_name)

# 3. สร้าง dict mapping จาก brand_clean → group
brand_groups = {
    'Sportswear & Outdoor': ['Nike', 'Adidas', 'Puma', 'Craft', 'Cross Sportwear', 'Soc (Stadium)', 'Everest', 'Helly Hansen', 'Kari Traa', 'Stormberg', 'Tretorn', 'Hummel', 'McKinley (Intersport)', 'Peak Performance', 'Skill', 'On The Peak'],
    'Fast Fashion & High Street Retailers': ['H&M', 'Zara', 'Bikbok', 'Gina Tricot', 'Only', 'New Look', 'New Yorker', 'Cubus', 'Vero Moda', 'Vila', 'Na-Kd', 'Asos', 'Mango', 'River Island', 'Pieces', 'Forever 21', 'Monki', 'Gap', 'Lindex', 'Kappahl'],
    'Premium & Designer': ['Diesel', "Levi'S", 'Lee', 'Ralph Lauren', 'Gant', 'Nudie Jeans', 'Maison Scotch', 'Filippa K', 'Inwear', 'Second Female', 'Twist & Tango', 'Part Two', 'Carin Wester', 'Jean Paul Gaultier', 'Stenströms', 'Soaked In Luxury', 'Marc O Polo', 'Moschino', 'StyleIn', 'Object', 'Juicy Couture', 'Bondelid', 'Dagmar', 'Tiger Of Sweden', 'J.Lindeberg', 'Hunkydory', 'Hillevi', 'Jack And Jones', 'Cue', 'Esprit', 'Desigual'],
    'Niche Brands': ['Masai', 'Dressman', 'Polarn Och Pyret', 'Deval', 'Indiska', 'Park Lane', 'These Glory Days', 'Odd Molly', 'Carl William', 'Free Quent', 'Soya/Soyaconcept', 'Stockhlm', 'Gudrun Sjödén', 'Swedemount', 'Oscar Of Sweden', 'Me & I', 'Samsö', 'Dobber', 'Micha', 'East West', 'Jackpot', 'Marimekko', 'Kriss', 'Saint Tropez', 'Gerry Weber'],
    'Store Brands': ['365', 'Flash', 'Cappuchini', 'Isolde', 'MyWear', 'Shirt Factory', 'Soul River', 'Etirel', 'Cellbes', 'Melly Moda', 'Lager 157', 'Alice Bizous (Joy)', 'Dorothy Perkins', 'Cream', 'Ellos', 'Prêt', 'Pure Instinct', 'Esmara (Lidl)', 'Name It', 'Miss Milla', 'Mexx', 'Hollister (Abercomb & Fitch)', 'Fransa', 'Frk', 'Oui', 'Rosebud', 'Almia'],
    'Non-Brand': ['Unknown', 'Not Applicable', 'Junkyard', 'Rappson (Gubb)', 'Tutti Frutti', 'Melka (Gammalt Svenskt)?', 'Newbody', 'Havana']
}

brand_to_group_map = {}
for group, brands in brand_groups.items():
    for brand in brands:
        brand_to_group_map[brand] = group

# 4. Map กลุ่มแบรนด์จากชื่อสะอาด
df['brand_group'] = df['brand_clean'].map(brand_to_group_map).fillna('Other Brands')

In [122]:
df = df.drop(['brand','brand_clean'], axis=1)
df['brand_group'].value_counts()

brand_group
Non-Brand                               556
Fast Fashion & High Street Retailers    546
Other Brands                            381
Store Brands                            172
Niche Brands                            120
Premium & Designer                       90
Sportswear & Outdoor                     47
Name: count, dtype: int64

#### Cleaning df['type']

In [123]:
def simplify_type(df):
    df['type_clean'] = df['type'].str.lower().str.strip()

    corrections = {
        'jacker': 'jacket',
        'night gown': 'nightgown',
        'tank top ': 'tank top',
        'sweater': 'sweater',
    }
    df['type_clean'] = df['type_clean'].replace(corrections)

    type_mapping = {
        'topwear': [
            'blouse', 'shirt', 't-shirt', 'tank top', 'hoodie', 'vest',
            'sweater', 'cardigan', 'top', 'tunic', 'training top'
        ],
        'bottomwear': [
            'trousers', 'shorts', 'jeans', 'tights', 'rain trousers', 'winter trousers'
        ],
        'outerwear': [
            'jacket', 'rain jacket', 'denim jacket', 'winter jacket', 'blazer', 'outerwear'
        ],
        'dresswear': [
            'dress', 'nightgown', 'robe'
        ],
        'sleepwear': [
            'pajamas'
        ]
    }

    reverse_mapping = {}
    for group, types in type_mapping.items():
        for t in types:
            reverse_mapping[t] = group

    df['type_grouped'] = df['type_clean'].map(reverse_mapping).fillna('other')

    return df

df = simplify_type(df)

In [124]:
df = df.drop(['type','type_clean'], axis=1)
df['type_grouped'].value_counts()

type_grouped
topwear       1451
dresswear      205
bottomwear     130
outerwear       95
other           28
sleepwear        3
Name: count, dtype: int64

####Cleaning df['size']

In [ ]:
df['size'].value_counts()

size
None       321
L          286
M          261
S          160
XL         133
M          107
S           90
38          88
40          72
42          65
XS          60
36          55
44          43
XXL         40
46          28
34          24
48          13
122          8
146          7
50           5
134          5
140          4
110          4
74           4
Onesize      3
62           3
104          3
158          3
92           2
128          2
52           2
80           2
XXXL         2
56           2
onesize      1
98           1
164          1
116          1
86           1
Name: count, dtype: int64

In [125]:
def simplify_size(df):
    df['size_clean'] = df['size'].astype(str).str.strip().str.lower()

    # Mapping dictionary
    size_mapping = {
        'xs': ['34', '36', 'xs'],
        's': ['38', '40', 's'],
        'm': ['42', '44', 'm'],
        'l': ['46', '48', 'l'],
        'xl': ['50', '52', 'xl'],
        'xxl': ['54', '56', 'xxl', 'xxxl'],
        'onesize': ['onesize', 'one size', 'onesize'],
        'kids': ['74', '80', '86', '92', '98', '104', '110', '116', '122',
                 '128', '134', '140', '146', '158', '164'],
        'unknown': ['none', 'nan', '']
    }

    def map_size(value):
        for group, values in size_mapping.items():
            if value in values:
                return group
        return 'unknown'

    df['size_clean'] = df['size_clean'].apply(map_size)
    return df

df = simplify_size(df)

In [126]:
df = df.drop(['size'], axis=1)
df['size_clean'].value_counts()

size_clean
m          476
s          410
l          327
unknown    324
xl         140
xs         139
kids        48
xxl         44
onesize      4
Name: count, dtype: int64

#### Pilling

In [ ]:
df.columns

Index(['brand', 'brandtext', 'category', 'type', 'size', 'colors', 'season',
       'pilling', 'condition', 'price', 'cut', 'pattern', 'trend', 'stains',
       'damage', 'material', 'usage', 'front_img', 'back_img', 'brand_img',
       'timestamp', 'day', 'brand_group', 'brand_clean'],
      dtype='object')

In [ ]:
display_unique_values(df, ['pilling','condition','price','pattern'])

Column: pilling
Unique values (5): [5 1 4 3 2]

Column: condition
Unique values (5): [2 1 3 5 4]

Column: price
Unique values (6): ['<50' '50-100' '100-150' '>400' '150-250' '250-400']

Column: pattern
Unique values (15): ['Transparent' 'Lace' 'Dots' 'None' 'Striped' 'Glitter' 'Floral print'
 'Geometric print' 'Logo print' 'Embroidered' 'Other' 'Checkered print'
 'Animal print' 'Metallic' 'Plain']

In [ ]:
df['pilling'].value_counts()

pilling
5    989
4    534
3    286
2     75
1     28
Name: count, dtype: int64

####Cleaning df['cut']

In [127]:
df['cut'] = df['cut'].apply(lambda x: eval(x) if isinstance(x, str) else x)

# รวม list ทั้งหมดเป็น list เดียว
all_cuts = df['cut'].explode()

# ดู unique values
unique_cuts = all_cuts.dropna().unique()
print(unique_cuts)

['C-collar' 'Loose' 'Regular' 'Turtle neck' 'Cropped' 'V-collar' 'Tight'
 'Tight, Turtle neck' 'Long' 'None' 'v-collar' 'Oversize' 'Collar'
 'c-collar' 'Tight, V-collar']

In [128]:
def clean_cut(cut_list):
    if isinstance(cut_list, str):
        cut_list = cut_list.split(',') if ',' in cut_list else eval(cut_list)

    cut_list = [c.strip().lower() for c in cut_list]

    mapping = {
        'c-collar': 'collar',
        'c collar': 'collar',
        'collar': 'collar',
        'v-collar': 'v-collar',
        'v collar': 'v-collar',
        'tight': 'tight',
        'loose': 'loose',
        'oversize': 'oversize',
        'regular': 'regular',
        'turtle neck': 'turtle-neck',
        'cropped': 'cropped',
        'long': 'long'
    }
    # collar , c-collar, v-collar, tight, loose. oversize, regular, turtle-neck, cropped, long
    cleaned = set()
    for item in cut_list:
        key = item.strip().lower()
        if key in mapping:
            cleaned.add(mapping[key])
        else:
            cleaned.add(key)

    return list(cleaned)
df['cut_cleaned'] = df['cut'].apply(clean_cut)

In [129]:
df = df.drop(['cut'], axis=1)
df['cut_cleaned'].value_counts()

cut_cleaned
[collar, regular]                654
[regular]                        316
[v-collar, regular]              247
[collar]                         141
[loose]                           64
[collar, loose]                   56
[v-collar]                        47
[regular, turtle-neck]            42
[collar, long]                    38
[tight]                           37
[none]                            35
[tight, collar]                   28
[]                                23
[long]                            22
[cropped]                         19
[v-collar, tight]                 18
[cropped, collar]                 18
[long, loose]                     12
[turtle-neck]                     11
[v-collar, loose]                 11
[v-collar, long]                   9
[cropped, loose]                   7
[cropped, tight]                   5
[tight, long]                      5
[oversize]                         4
[tight, loose]                     3
[cropped, v-collar]                3
[oversize, collar]                 3
[tight, turtle-neck]               3
[cropped, regular]                 3
[v-collar, long, loose]            3
[cropped, tight, collar]           2
[cropped, turtle-neck]             2
[oversize, regular]                2
[v-collar, tight, cropped]         2
[tight, collar, loose]             2
[tight, turtle neck]               1
[tight, regular]                   1
[long, regular]                    1
[cropped, collar, regular]         1
[collar, long, loose]              1
[regular, loose]                   1
[cropped, collar, loose]           1
[v-collar, cropped]                1
[loose, turtle-neck]               1
[v-collar, tight, long]            1
[tight, v-collar]                  1
[tight, collar, long]              1
[v-collar, tight, loose]           1
[v-collar, long, regular]          1
[cropped, loose, turtle-neck]      1
Name: count, dtype: int64

#### Pattern

In [130]:
display_unique_values(df, ['pattern'])

Column: pattern
Unique values (15): ['Transparent' 'Lace' 'Dots' 'None' 'Striped' 'Glitter' 'Floral print'
 'Geometric print' 'Logo print' 'Embroidered' 'Other' 'Checkered print'
 'Animal print' 'Metallic' 'Plain']

In [131]:
df['pattern'].value_counts()

pattern
Plain              568
None               501
Floral print       218
Striped            145
Logo print         118
Lace                86
Geometric print     70
Animal print        49
Other               45
Dots                34
Checkered print     34
Glitter             26
Embroidered          9
Transparent          5
Metallic             4
Name: count, dtype: int64

In [132]:
pattern_group_map = {
    'Plain': 'Solid',
    'None': 'Solid',
    'Floral print': 'Printed',
    'Striped': 'Printed',
    'Logo print': 'Printed',
    'Geometric print': 'Printed',
    'Animal print': 'Printed',
    'Dots': 'Printed',
    'Checkered print': 'Printed',
    'Lace': 'Texture_Embellishment',
    'Glitter': 'Texture_Embellishment',
    'Embroidered': 'Texture_Embellishment',
    'Metallic': 'Texture_Embellishment',
    'Transparent': 'Texture_Embellishment',
    'Other': 'Other'
}

df['pattern'] = df['pattern'].map(pattern_group_map)

In [133]:

df['pattern'].value_counts()

pattern
Solid                    1069
Printed                   668
Texture_Embellishment     130
Other                      45
Name: count, dtype: int64

#### stain

In [134]:
df['stains'].value_counts()

stains
No       769
Yes      402
None     390
Minor    224
Major    127
Name: count, dtype: int64

In [135]:
def map_stain_level(stain):
    if stain in ['No', 'None']:
        return 'No'
    elif stain == 'Yes':
        return 'Yes'
    elif stain == 'Minor':
        return 'Minor Stain'
    elif stain == 'Major':
        return 'Major Stain'
    else:
        return 'Unknown'

df['stains'] = df['stains'].apply(map_stain_level)
df['stains'].value_counts()

stains
No             1159
Yes             402
Minor Stain     224
Major Stain     127
Name: count, dtype: int64

####damage

In [136]:
df['damage'].value_counts()

damage
                              1688
1                               50
2                               13
0                               11
Washed out                      10
                              ...
2 Hole                           1
3 Holes 1 Damage                 1
sweat stain                      1
Bubbly zipper, hairy             1
sweat stains, broken edges       1
Name: count, Length: 83, dtype: int64

In [137]:
display_unique_values(df, ['damage'])

Column: damage
Unique values (83): ['' 'Contracted' 'Sunbleeched' 'Pulled threads' 'Broken logo '
 'Washed out seams' 'Broken seams' 'Crooked' 'Bad seams, washed out'
 'Missing button' '54' '2' '1' 'S' 'Loose thread' 'Washed out' '5'
 'Pulled thread' 'pulled thread' '19' 'pulled threads' '3'
 'a little washed out' 'Several stains' 'rhinestones missing'
 'knee stretched' 'stain' 'Washed out, minor stain ' 'Bubbly zipper'
 'Loose button' 'collar ' 'Pulled threads, sweat stains'
 'Washed out and several stains' 'Elastic band is damaged'
 'Holes in seams' 'straps have been worn out and stretched'
 'washed out color and pressure damage on the fibers' '1 pulled thread'
 'ripped armpit seams'
 'Threads have been pulled and textilefibers have been damaged'
 'colorfading and wear of textile fibers' 'Pulled threads, broken seams '
 '12' '7' 'Pulled threads, bad seams' 'Paint stains'
 'Crooked, pulled thread' 'Washed out, sweat stains' 'Crooked, fuzzy'
 'Washed out, crooked' 'Crooked, washed out' '6' '0' '8 Damages'
 '5 Damages' '1 damage' '2 Holes' '1 Hole, Several damages' '3 Damages'
 '4 Damages' '1 Damage' '1 Hole' '2 damages' '2 Damages'
 'sweat stains, croocked' '1 hole' 'washed out ' 'Washed out ' '11 Holes'
 'washed out' 'sweat stains' '2 loose threads' 'washed out, hole '
 'crooked' 'loose threads' 'sweat stains ' '2 Hole' '6 Damages'
 '3 Holes 1 Damage' 'sweat stain' 'Bubbly zipper, hairy'
 'sweat stains, broken edges' 'Several damages']

In [138]:
import re

def extract_damage_count(text):
    if not text or text.strip() == '':
        return 0
    match = re.search(r'(\d+)', text)
    if match:
        return int(match.group(1))
    damage_keywords = ['broken', 'pulled', 'hole', 'damage', 'seam', 'stain', 'ripped', 'missing', 'loose', 'washed out', 'faded', 'crooked', 'bubbly', 'paint']
    text_lower = text.lower()
    if any(keyword in text_lower for keyword in damage_keywords):
        return 1
    return 0

def categorize_damage_severity(text):
    count = extract_damage_count(text)
    if count == 0:
        return 'No Damage'
    elif count <= 2:
        return 'Minor Damage'
    elif count <= 5:
        return 'Moderate Damage'
    else:
        return 'Severe Damage'

df['damage_count'] = df['damage'].apply(extract_damage_count)
df['damage_severity'] = df['damage'].apply(categorize_damage_severity)

In [139]:
df = df.drop(['damage'], axis=1)
df['damage_count'].value_counts()

damage_count
0     1706
1      151
2       23
3       12
5        9
8        2
4        2
6        2
54       1
7        1
12       1
19       1
11       1
Name: count, dtype: int64

In [140]:
df['damage_severity'].value_counts()

damage_severity
No Damage          1706
Minor Damage        174
Moderate Damage      23
Severe Damage         9
Name: count, dtype: int64

####material

In [141]:
df['material'].value_counts()

material
100%cotton                                347
100%polyester                             190
100%viscose                               106
100% cotton                                82
100% Cott                                  63
                                         ...
100%wool                                    1
47%wool 38%viscose 10%nylon 5%cashmere      1
90%wool 10%nylon                            1
94% Poly 6% Elastane                        1
65% Poly 35% Visc                           1
Name: count, Length: 524, dtype: int64

In [76]:
display_unique_values(df, ['material'])

Column: material
Unique values (524): ['100% polyester' '51% nylon, 49% viscose' '100% bomull'
 '80% merino wool, 20% polyamide' '50% cotton, 50% modal' '100% cotton'
 '95% polyester, 5% spandex' '65% Bamboo, 30% cotton, 5% elastane'
 '80% cotton, 18% polyester, 2% elastane' '75% viscose,25% lurex'
 '98% cotton, 2% elastane' '74% rayon, 22% nylon, 4% spandex'
 '100% viscose' '74% wool, 26% acrylic' '50% cotton, 50% acrylic'
 '50% wool, 50% polyester' '80% viscose, 20% nylon'
 '95% viscose, 5% elastane' '100% silk' '100% acrylic'
 '92% polyester, 8% lycra' '84% cotton, 12% modal, 4% elastane'
 '95% cotton, 5% elastane' '65% polyamide, 30% cotton, 5% lycra'
 '78% cotton, 20% polyester, 2% elastane' '96% viscose, 4% elastane'
 '100%cotton' '90%cotton 10%polyester'
 '62%acrylic 28%polyamide 8%wool 2%elastane'
 '54%polyester 32%cotton 14%nylon' '95%cotton 5%elastane'
 '65%polyester 35%cotton' '100%polyester'
 '71%cotton 27%polyester 2%elastane' '95%polyester 5%elastane'
 '96%cotton 4%elastane' '70%cotton 30%polyester' '95%polyester 5%spandex'
 '98%cotton 2%elastane' '94%cotton 5%polyester 1%elastane'
 '85%cotton 15%polyester' '80% cotton, 20% acrylic'
 '53% polyester, 47% nylon' '77% wool, 23% acrylic'
 '65% Polyester, 35% cotton' '55%polyester 45%wool' '100%polyamide'
 '100%viscose' '60%viscose 40%polyester' '98%nylon 2%elastane'
 '80%cotton 20%polyester' '75%viscose 25%polyester' '73%acrylic 27%wool'
 '97%cotton 3%elastane' '50%nylon 50%polyester'
 '30%wool 30%polyester 30%acrylic 10%other' '66%acrylic 34%cotton'
 '95%cotton 5%lycra' '90%cotton 10%elastane' '69%cotton 31%polyester'
 '55%cotton 45%viscose' '78%acrylic' '100%wool' '65%cotton 35%polyester'
 '92%polyester 8%elastane' '100%Cotton' '60%cotton 40%polyester'
 '69%polyester 20%rayon 2%spandex' '50%cotton 50%viscose'
 '73%cotton 27%polyester' '85%cotton 13%polyester 2%elastane'
 '62%polyester 31%rayon 5%spandex 1%metallic fibres 1%nylon'
 '95%viscose 5%elastane' '70%cotton 27%polyester 3%elastane' '100%acrylic'
 '97%polyester 3%elastane' '60% cotton, 35% polyester, 5% elastane'
 '50%cotton 50%acrylic' '64%cotton 36%polyester'
 '45%viscose 30%cotton 25%lurex' '99%cotton 1%elastane'
 '92%cotton 6%polyester 2%elastane' '70%viscose 30%polyamide'
 '66%polyester 32%viscose 2%elstane' '100%nylon' '100%silk'
 '95%polyester 5%elstane' '52%cotton 48%acrylic'
 '43%polyamide 43%wool 14%alpaca' '98%cotton 2%elstane'
 '55% lyocell, 45% viscose' 'Not available' '95% cotton, 5% other fiber'
 '92% polyester, 8% elastane' '92% cotton, 8% elastane'
 '90% acrylic, 10% mohair' '97% polyester, 3% elastane'
 '68% viscose, 27% polyamide, 5% elastane' '50% viscose, 50% acrylic'
 '60% cotton, 40% polyester' '60% cotton, 40% acrylic'
 '30% cotton, 70% viscose' '75% cotton, 25% polyamide'
 '69% viscose, 31% polyamid' '100% lyocell'
 '77% modal, 20% polyester, 3% elastane'
 '60% polyester, 30% wool, 10% rayon, lining: 100% acetate'
 '93% silk, 7% elastane' '83% polyester, 17% elastane' 'not available'
 '65% polyester,35% viscose' '70% modal, 30% polyester'
 '65% cotton, 35% polyester' '97% cotton, 3% lycra' 'unknown'
 '40% acrylic, 36% nylon, 24% mohair' '95% polyester, 5% elastane'
 '60%linen 40%viscose' '80%viscose 20%linen' '88%polyester 12%elastane'
 '60% linne, 40% viskos' '50%polyester 50%viscose'
 '90% polyester, 10% elastane' '60% acrylic, 40% cotton'
 '55%linen 45%cotton' '92%cotton 8%elastane ' '100% viskos'
 '60%cotton 40%viscose ' '100% linnen'
 '67% cotton, 30% polyamide, 3% elastane' '78% Acry 22% Poly'
 '92%polyamide 4%lurex 4%elastane'
 '32%acrylic 28%polyamide 20%wool 15%mohair 5%elastane' '100%lyocell'
 '82%polyester 18%elastane' '90%polyester 10%elastane' '100% Cott'
 '80%viscose 20%nylon' '81%polyamide 19%elastane'
 '52%polyester 38%cotton 10%elastane' '50%cotton 50%modal' '100% poly'
 '80% viscose 20% poly' '100& bomull' '56% polyester, 44% acrylic'
 '100% nylon' '96%viscose 4%elastane' '64% polyester, 36% cotton'
 '52% polyester, 48% acrylic' '80% polyester, 10% wool, 10% viscose'
 '53% cotton, 47% polyester' '83% cotton, 17% polyester'
 '54% polyester, 46% acrylic' '50%cotton 50%polyester'
 '80% viscose, 20 polyester' '100%Visc' '100%Cott' '100% cotton '
 '100%cott' '74% viscose, 26% cotton' '66%visc 34%poly'
 '63% polyester, 37% cotton ' '54% Cott 46% Poly' 'Not Applicable'
 'Not applicable' '88% Cott 12% Cont?' '100% Poly' '77% Wool 23% Acry'
 '100% Wool' '100% Acry' '72% Cott 28% Visc' '100% Visc'
 '80%cotton 20%elastane' '48%polyester 37%viscose 11%polyamide 4%elastane'
 '94%polyester 6%elastane' '80%cotton 18%polyester 2%elastane'
 '73%polyester 27%acrylic' '73%viscose 27%nylon' '60%acrylic 40%cotton'
 '60%wool 30%polyester 10%nylon' '57%cotton 40%polyester 3%elastane'
 '63%polyester 34%viscose 3%wool' '65%polyester 32%viscose 3%elastane'
 '70%cotton 30%lin' '40%wool 30%lama 20%acrylic 10%unknown fibers'
 '55%acrylic 45%cotton' '55%viscose 45%cotton' '97%polyester 3%elasaten'
 '41%cotton 35%viscose 24%polyester ' '70%acrylic 30%polyamide'
 '96%polyester 4%elastane' '63%polyester 33%viscose 4%elastane'
 '80% viscose, 20% polyester' '58% wool, 42% nylon'
 '65% cotton, 35% viscose' '66% viscose, 34% polyester'
 '62% cotton, 38% viscose' '69% viscose, 31% polyester'
 '50% cotton, 50% polyester' '58% nylon, 42% viscose'
 'Scanner can not read material.' '57% cotton, 43% polyester'
 '100% knitted acrylic' '77% polyester, 23% cotton'
 '40%polyamide 30%cotton 30%viscose' '95%rayon 5%spandex'
 '90%viscose 10%polyester' '75%acrylic 22%nylon 3%elastane'
 '92%cotton 8%elastane' '98%polyester 2%elastane'
 '73%polyester 24%cotton 3%viscose' '50%acrylic 40%polyester 10%lurex'
 '90%cotton 10%viscose' '95%cotton 5%spandex' '60%cotton 40%viscose'
 '75%polyester 25%wool' '60%acrylic 40%wool' '65%viscose 35%polyester'
 '53%viscose 47%acrylic' '50%viscose 45%cotton 5%nylon'
 '54%cotton 46%polyester' '75%polyester 25%cotton' '100%linen'
 '51%polyester 34%polyamide 15%acrylic' '68%cotton 27%polyester 5%viscose'
 '50%polyester 50%acrylic' '79%cotton 19%polyester 2%elastane'
 '60%wool 40%polyester' '73%viscose 24%polyamide 3%elastane'
 '80%viscose 20%polyamide' '92%nylon 8%elastane' '56%viscose 44%nylon'
 '80%polyester 20%cotton' '67%polyester 33%viscose' '100%rayon'
 '94%viscose 5%polyester 1%elastano'
 '52%viscose 27%polyester 21%polyamide' '68%lyocell 32%modal'
 '50%cotton 50%nylon' '50%lin 50%viscose'
 '44%cotton 32%polyamide 21%polyester 3%elastane'
 '50%polyester 30%polyamide 20%cotton' '50%cotton 25%polyester 25%rayon'
 '95%nylon 5%spandex' '70%polyester 30%cotton'
 '58%polyester 30%cotton 12%nylon' '73%cotton 24%polyester 3%elastane'
 '45%modal 45%cotton 10%elastane' '50%wool 40%angora 10%nylon'
 '85%polyester 10%viscose 5%elastane' '92%viscose 8%elastane'
 '50%viscose 50%polyester' '80%acrylic 20%wool' '78%polyester 22%viscose'
 '57%viscose 43%polyester' '60%viscose 40%cotton' '50%wool 50%acrylic'
 '50%acrylic 50%cotton' '40%cotton 30%polyamide 25%viscose 5%angora'
 '90%polyester 10%spandex' '80%cotton 18%polyamide 2%elastane'
 '50%nylon 50%cotton' '50%polyester 50%cotton' '80%cotton 20%nylon'
 '75%viscose 25%cotton' '76%modal 24%polyester'
 '77% modal, 20%polyester, 3% elastane' '69% viscose, 31% Polyamide'
 '62% polyester, 32% viscose, 6% elstane' '97% polyester, 3% elstane'
 '50% rayon, 50% acrylic' '85% cotton, 15% acrylic' '87% viscose, 13% ?'
 '60% polyester, 30% wool, 10% rayon' '65% polyester, 35% viscose'
 '55% lyocell,45% viscose' '72% cotton, 28% acrylic' '62%cotton 38%nylon'
 '67% acrylic, 23% polyamide, 10% wool'
 '34%polyamide 31%mohair 31%wool 4%elastane'
 '50%polyester 47%viscose 3%elastane' '96%cotton 4%polyamide'
 '80%acrylic 20%nylon' '50%wool 50%polyester'
 '56%acrylic 34%polyester 10%polyamide' '95%polyamide 5%elastane'
 '82%viscose 18%nylon' '81% Acry 19% Poly' '100% Cotton'
 '53% poly 47% cotton' '58% cotton 42% poly' '' '100% acry'
 '61% wool 39% cott' '52% Cott 48% Visc' '58% Poly 42% Cott'
 '78% Cott 22% Acry' '100% cott' '100% visc' '100% Silk'
 '80% cotton 20% poly' '67% visc 33% poly' '32% poly 68% cotton'
 '51% Poly 49% Cott' '33% cotton 67% poly' '55%cotton 45%polyester'
 '65% Cott 35% Poly' '75%cotton 21%polyester 4%elastane' '100%cotton '
 '70%viscose 30%polyester' '51%nylon 49%polyester'
 '75%polyester 22%viscose 3%elastane' '100% Linnen' '97% Poly 3% Elastan'
 '70% modal 30% poly' '75%silk 25%cotton' '50%cotton  50%polyester'
 '47%viscose 28%polyester 25%nylon' '34%polyester 66%viscose'
 '97% COtt 3% Elastan' '70%acrylic 30%wool' '76%polyester 24%cotton'
 '60% Acry 40% Cott' '76% Visc 24% Poly' '80%viscose 20%nylon '
 '50%viscose 27%nylon 23%polyester'
 '53%cotton 24%acrylic 11%nylon 10%polyester 2%elastane'
 '78%viscose 22%polyamide' '65%polyester 35%viscose'
 '84%polyester 16%elastane' '76%   Visc 24% Poly ' '70%modal 30%polyester'
 '72%viscose 24%polyamide 4%elastane' '60%polyester 40%cotton'
 '44%viscose 24%polyamide 28%polyester'
 '40%cotton 30%polyamide 25%viscose 5%alpaca' '95%nylon 5%elastane'
 '78% Visc 22% Nylo' 'Unknown' '80%cotton 20%polyamide'
 '55%nylon 30%wool 15%acrylic' '56% Cott 44% Poly' '65% Visc 35% Nylo'
 '92% cott 8% Elastan' '80%lyocell 20%nylon'
 '60%acrylic 20%nylon 17%polyester 3%elastane' '100%polyester '
 '55%lyocell 45%viscose' '64%polyester 33%viscose 3%elastane'
 '87%cotton 13%polyester' '66%acrylic 28%polyester 3%wool 3%elastane'
 '100% Lyocell' '100% Nylo' '55% Acry 25% Cott 20% Poly'
 '81% Visc 15% nylo 4% Elastane' '51% Cott 49% Poly'
 '95% Poly 5% Elastane' '63% viscose, 37% nylon'
 '77% polyester, 23% nylon' '50% Cott 50% Modal' '95% cotton, 5% elastan'
 '100%Poly' '65% Cott 30% Poly 5% Elastanne' '82% Visc 18% Poly'
 '55% Acry 45% Cott' '64% Visc 36% Nylo' '85% Visc 15% Poly'
 '69% Cott 31% Poly' '72% wool 28% Cott' '56% Visc 39% Poly'
 '75%polyester 25%acrylic' '80%viscose 15%linen 5%polyester'
 '66%acrylic 33%nylon 3%elastane' '85%polyester 15%elastane'
 '76%viscose 12%linen 12%polyamide' '50%viscose 50%cotton'
 '36%polyester 21%cotton 30%polyamide 3%elastane'
 '78%polyester 18%viscose 4%elastane' '90%viscose 10%elastane'
 '84%cotton 16%acrylic' '68%acrylic 32%nylon' '77%viscose 23%polyester'
 '25%viscose 40%cotton 20%nylon 5%angora'
 '52%acrylic 27%polyamide 11%polyester 7%elastane 3%wool'
 '79% Acry 21% Wool' '56% Cott 44%Poly' '81% Cott 19% Acry'
 '72% Cott 28% Poly' '55% Cott 45% Poly' '100% suede' '64% Wool 36% cott'
 '55% Poly 45% Cott' '51% Cott 49% Poly ' '58% Cott42% acry'
 '58% Cott42% Poly' '80% Acry 20% Wool' '85% Wool 15% Nylo'
 '59% Cott 41% Poly' '96% Poly 4 % Elastane' '100% Lin'
 '60% Cott 40% Poly' '84% cott 16% Poly' '95% Cott 5% Elastane'
 '50% Cott 50% Acry' '95% Cott 5% Lycr' '61% viscosa 39% poly'
 '57% visc 43% cott' '90% Cott 10% Elastane' '80% Cott 20% Wool'
 '50% Poly 48% Visc 2% Elastane' '100% Acry ' '50% wool 35% cott 15% nylo'
 '50% Visc 27% Nylo 23% Poly' '84% Cott 18% Nylo' '95% Visc 5% Elastane'
 '51% cott 49% Poly' '100%modal' '80%polyester 20%polyamide'
 '76%viscose 24%polyamide' '55%hemp 45%cotton' '80% Cotton 20% Wool'
 '68% Acry 32% Wool' '86%polyester 14% cont?' '63%cotton 37%polyester'
 '94%acrylic 6%wool' '100%nylone' '55%viscose 45%nylone'
 '62%polyester 38%cotton' '53%acrylic 47%cotton' '62% Acry 38% Cott'
 '73%viscose 27%polyester' '89%polyester 11%spandex'
 '84%polyester 16%cotton' '51% Acry 49% Wool' '61%acrylic 39%cotton'
 '65%viscose 35%polyamide' '52%viscose 46%nylon 2%elastane'
 '90%cotton 10%wool' '59%tencel 36%polyester 5%elastane'
 '50%modal 50%cotton' '67%acrylic 20%nylon 13%wool' '100% Acrylic'
 '95% Polyester, 5% elastane'
 '10% wool 10% alpaca 28% Acrylic 52% Polyamide' '100% Polyester'
 '97% Polyester, 3% elastane' '81% Poly 19% Nylo'
 '67% Cott 30% Polyamid 3% Elastan'
 '50% Acry 26% Poly 14% Cott 7% Wool 3% Elastane'
 '83% Polyester, 17% elastane' '95% Poly 5% Spandex' '95% Visc 5% Elastan'
 '71% Acry 26% poly 3%elastane' '62% Visc 38% Nylo '
 '40% acry 36% poly 24%mohair' '95% Cott 5%Elastan'
 '78% acry 20% poly 2% Elastane' '53% linnen 47% visc' '70% Nylo 30% Acry'
 '83% poly 17% spandex' '90% Polyester, 10% Elastan' '65% poly 35% visc'
 '90% Acry 10% Poly' '72% Acry 28% Wool' '90% Poly 10% Elastane'
 '96% polyester, 4% elastan' '100% Viscose' '80% Visc 20% Poly'
 '85% Cotton 15% Acry' '84% Visc 16% Poly' '69%cotton 31%polyester '
 '60%polyester 32%cotton 8%spandex' '80%viscose 20%nylone'
 '66% Acry 34% Cotton' '64%polyester 36%cotton' '63%polyester 37%cotton'
 '54% Poly 46% Cotton' '66% Poly 34% Cotton' '78%acrylic 22%cotton'
 '100% Visco' '87% polyester, 13% cont? ' '62% nylon, 38% polyester'
 '80% cotton 20% polyester' '60%viscose 40%nylone' '81% Cotton 19% Poly'
 '63%acrylic 37%cotton' '55% Cotton 45% Poly'
 '60%polyester 30%cotton 10%viscose' '59% Visc 41% Nylo'
 '87% viscose, 13% content?' '58% Acry 42% Cott ' '96% Visc 4% Elastan'
 '100 % Visc' '60% Cott 35% Poly 5% Elastan' '100 % Cott'
 '66% Cott 34% Visc' '50% Visc 50% Acry' '95% Cott 5% Elastan'
 '80% Visc 20% Nylo' '65% Poly 35% Visc' '69% Poly 31% Wool'
 '45% nylo 42% Rayon 10% wool 3% Cashmere' '93% Silk 7% Elastan'
 '95% Poly 5% Elastan' '60% linne, 40%viskos'
 '47%wool 38%viscose 10%polyamide 5%cashmere'
 '78%acrylic 20%polyester 2%elastane' '65%cotton 30%polyester 5%elastane'
 '58%wool 42%viscose ' '44%acrylic 36%cotton 18%nylon 2%spandex'
 '100%wool ' '47%wool 38%viscose 10%nylon 5%cashmere' '90%wool 10%nylon'
 '94% Poly 6% Elastane' '69%nylon 31%viscose' '70%wool 30%acrylic'
 '60%polyamide 35%polyester 5%wool' '80% Cott 20% Poly'
 '65%nylon 36%polyester' '82% Acry 18% Wool' '68%cotton 32%polyester'
 '86% Poly 14% Lurex' '90%polyester 10%cotton' '60% Acry 40% cott']

แก้คำผิด

In [142]:
df['material_clean'] = df['material'].str.lower().str.strip()
df['material_clean'] = df['material_clean'].str.replace(r'[\u00a0]', '', regex=True)  # ลบ non-breaking space
df['material_clean'] = df['material_clean'].str.replace(r'\s+', ' ', regex=True)

# แก้คำผิด
corrections = {

    "cotton": [
        "cotton",
        "cott",
        "cott?",
        "cott ",
        "cotton ",
        "cott ",
        "bomull",
        "bomull ",
        "Cott",
        "cotton",
        "Cott ",
        "cotton?",
        "cott?",
        "cotton ",
        "cott ",
        "cotton\u00a0",
        "cotton\u00a0",
        "cott ",
        "cott\u00a0",
        "cott\u00a0"
    ],
    "polyester": [
        "polyester",
        "poly",
        "polyest",
        "polyest?",
        "polyeste",
        "polyeste ",
        "polyest?",
        "polyester ",
        "poly",
        "poly ",
        "polyamide",
        "polyamid",
        "poly?",
        "poly ",
        "polyester\u00a0",
        "polyester\u00a0",
        "polyester\u00a0",
        "polyester\u00a0",
        "poly?",
        "poly\u00a0",
        "poly\u00a0",
        "polyamide",
        "polyamide ",
        "poly "
    ],
    "nylon": [
        "nylon",
        "nylonn",
        "nylone",
        "nylone ",
        "nylon ",
        "nylo",
        "nylo ",
        "nylo",
        "nylon",
        "nylon?",
        "nylo",
        "nylone",
        "nylone ",
        "nylone?"
    ],
    "viscose": [
        "viscose",
        "viscoseose",
        "viscose ",
        "viscos",
        "viskos",
        "viskose",
        "viscosa",
        "visc",
        "viscose",
        "viscose?",
        "visc",
        "visc?",
        "viscose ",
        "visc ",
        "viscosa",
        "viscosa ",
        "viskose",
        "viskos ",
        "viscosa?",
        "viscosa?",
        "visc"
    ],
    "acrylic": [
        "acrylic",
        "acry",
        "acrylic ",
        "acryl",
        "acry ",
        "acry ",
        "acrylic",
        "acry",
        "acry?",
        "acry ",
        "acrylic ",
        "acryl",
        "acrylic?",
        "acrylic\u00a0",
        "acryl\u00a0",
        "acry\u00a0",
        "acry\u00a0"
    ],
    "wool": [
        "wool",
        "wool ",
        "wool?",
        "wool  ",
        "wool",
        "wool ",
        "wool?",
        "wool?",
        "wool?",
        "wool?",
        "wool\u00a0",
        "wool\u00a0"
    ],
    "elastane": [
        "elastane",
        "elastan",
        "elastane ",
        "elastan ",
        "elastane?",
        "elastan?",
        "elastano",
        "elastano ",
        "elastan",
        "elstan",
        "elstane",
        "elastane",
        "elastan ",
        "elstane ",
        "elastane?",
        "elstan?",
        "elstane?",
        "elastan",
        "elastane ",
        "elstane?",
        "elstan ",
        "elastane?",
        "elastane?",
        "elastane\u00a0",
        "elastan\u00a0",
        "elastan\u00a0"
    ],
    "rayon": [
        "rayon",
        "rayon ",
        "rayon?",
        "rayon",
        "rayon?",
        "rayon?"
    ],
    "modal": [
        "modal",
        "modal ",
        "modal?",
        "modal",
        "modal ",
        "modal?",
        "modal?"
    ],
    "silk": [
        "silk",
        "silk ",
        "silk?",
        "silk",
        "silk ",
        "silk?",
        "silk?",
        "silk?"
    ],
    "linen": [
        "linen",
        "linne",
        "linnen",
        "linnen ",
        "linen ",
        "lin",
        "linne",
        "linne ",
        "linnen",
        "linnen ",
        "lin ",
        "linn ",
        "linn?",
        "lin "
    ],
    "spandex": [
        "spandex",
        "spandex ",
        "spandex?",
        "spandex",
        "spandex ",
        "spandex?",
        "spandex?",
        "spandex\u00a0"
    ],
    "lycra": [
        "lycra",
        "lycra ",
        "lycra?",
        "lycra",
        "lycra ",
        "lycra?",
        "lycr",
        "lycra?"
    ],
    "bamboo": [
        "bamboo",
        "bamboo ",
        "bamboo?",
        "bamboo",
        "bamboo ",
        "bamboo?"
    ],
    "alpaca": [
        "alpaca",
        "alpaca ",
        "alpaca?",
        "alpaca",
        "alpaca?",
        "alpaca?"
    ],
    "lyocell": [
        "lyocell",
        "lyocell ",
        "lyocell?",
        "lyocell",
        "lyocell ",
        "lyocell?",
        "lyocell\u00a0",
        "lyocell\u00a0"
    ],
    "lurex": [
        "lurex",
        "lurex ",
        "lurex?",
        "lurex",
        "lurex?",
        "lurex?"
    ],
    "mohair": [
        "mohair",
        "mohair ",
        "mohair?",
        "mohair",
        "mohair?",
        "mohair?"
    ],
    "angora": [
        "angora",
        "angora ",
        "angora?",
        "angora",
        "angora?",
        "angora?"
    ],
    "cashmere": [
        "cashmere",
        "cashmere ",
        "cashmere?",
        "cashmere",
        "cashmere?",
        "cashmere?"
    ],
    "suede": [
        "suede",
        "suede ",
        "suede?",
        "suede",
        "suede?",
        "suede?"
    ],
    "tencel": [
        "tencel",
        "tencel ",
        "tencel?",
        "tencel",
        "tencel?",
        "tencel?"
    ],
    "hemp": [
        "hemp",
        "hemp ",
        "hemp?",
        "hemp",
        "hemp?",
        "hemp?"
    ]
}

# ใช้ regex word boundary เพื่อแก้คำผิดให้แม่นยำ
def correct_typo_regex(text):
    if not isinstance(text, str):
        return text
    for correct_word, typo_list in corrections.items():
        for typo in typo_list:
            # สร้าง pattern ให้ match คำเต็ม ๆ เท่านั้น
            pattern = r'\b' + re.escape(typo.strip()) + r'\b'
            text = re.sub(pattern, correct_word, text)
    return text

# ใช้แก้คำผิดทีเดียวหลังทำความสะอาด
df['material_clean'] = df['material_clean'].apply(correct_typo_regex)

Parsing composition
{material: percent}

In [143]:
def parse_material(text):
    if pd.isna(text) or text in ['not available', 'unknown', '', 'scanner can not read material.']:
        return {}
    components = re.findall(r'(\d+)%\s*([a-z]+)', text)
    return {mat: int(pct) for pct, mat in components}

df['material_dict'] = df['material_clean'].apply(parse_material)

In [145]:
df = df.drop(['material','material_clean'], axis=1)
df['material_dict'].value_counts()

material_dict
{'cotton': 100}                    535
{'polyester': 100}                 310
{'viscose': 100}                   200
{'acrylic': 100}                    51
{'cotton': 95, 'elastane': 5}       44
                                  ...
{'polyester': 35, 'wool': 5}         1
{'nylon': 65, 'polyester': 36}       1
{'acrylic': 82, 'wool': 18}          1
{'polyester': 86, 'lurex': 14}       1
{'polyester': 90, 'cotton': 10}      1
Name: count, Length: 360, dtype: int64

####usage

In [146]:
df['usage'].value_counts()

usage
Export     1071
Reuse       641
Recycle     135
Repair       63
reuse         1
export        1
Name: count, dtype: int64

In [147]:
# สมมติคอลัมน์ชื่อ 'usage'
df['usage_clean'] = df['usage'].str.lower().str.strip()

# นับความถี่ใหม่
usage_counts = df['usage_clean'].value_counts()

df = df.drop(['usage'], axis=1)
print(usage_counts)

usage_clean
export     1072
reuse       642
recycle     135
repair       63
Name: count, dtype: int64

#### hole

In [148]:
df['holes'].value_counts()
df['holes'].fillna("None", inplace=True)

/tmp/ipython-input-2834388920.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['holes'].fillna("None", inplace=True)

In [149]:
df['holes'].value_counts()

holes
None     1855
Minor      39
Major      18
Name: count, dtype: int64

In [150]:
df.columns

Index(['brandtext', 'category', 'colors', 'season', 'pilling', 'condition',
       'price', 'annotator', 'pattern', 'trend', 'smell', 'stains', 'holes',
       'comment', 'front_img', 'back_img', 'brand_img', 'timestamp', 'day',
       'weight', 'brand_group', 'type_grouped', 'size_clean', 'cut_cleaned',
       'damage_count', 'damage_severity', 'material_dict', 'usage_clean'],
      dtype='object')